@use "sass:math";

//mixins==============================================================
@import 'base/mixins';
@import 'icons';

//fonts=============================================================
//&display=swap
@import 'fonts';
@import 'iconFont';

// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1440;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1270;

// Брейк-поинты
$pc: em($maxWidthContainer); // ПК, ноутбуки, некоторые планшеты в горизонтальном положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в горизонтальном положении
$mobile: em(767.98); // Телефоны L
$mobileSmall: em(479.98); // Телефоны S

//main mesh=========================================================
._container{
  max-width: $maxWidthContainer + px;
  margin: 0 auto;
  padding: 0 15px;
}

//Подклбчение шрифтов===============================================
$fontFamily: "Gilroy";
$fontSize: rem(16);

// Основные цвета
$mainColor: #3A3A3A;
$orangeColor: #E89F71;
$greyColor: #898989;
$darkGrayColor: #616161;

//null styles=======================================================
@import 'base/null';

// ТЕЛО САЙТА
body {
  color: $mainColor;

  &._lock {
    overflow: hidden;
  }
}

//page=============================================================
.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

//_ibg
._ibg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  & img{
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  }  
}



//Общие стили==========================================================
@import 'ui'; 

// swiper
@import 'base/swiper';

//Галерея
@import 'gallery/lightgallery';
//header ==============================================================
@import 'styleHeader';
//footer==================================================================
@import 'styleFooter';

//page =====================================================================
.page {
  flex: 1 1 auto;

  &__main-slider {
  }

  &__advantages {
  }

  &__products {
  }

  &__rooms {
  }

  &__tips {
  }

  &__furniture {
  }
}

//========================================================================

.main-slider {
  background: #FCF8F3;
  // .main-slider__container

  &__container {
    position: relative;
    @media (min-width: $tablet){
      &::before {
        content: '';
        background: #F9F1E7;
        position: absolute;
        top: 0;
        right: 376px;
        width: 100vw;
        height: 100%;
      }
    }
  }

  // .main-slider__body

  &__body {
    position: relative;
    z-index: 3;
    padding: 140px 0 0 0;

    @media (max-width: $tablet){
      padding: 80px 0 0 0;
    }

    @media (max-width: $mobile){
      padding: 50px 0 0 0;
    }

    @media (min-width: $tablet){
      display: flex;
    }
  }

  // .main-slider__content

  &__content {
    align-self: flex-start;
    flex: 0 0 percent(494, 1270);
    @include adaptiv-value('margin-bottom', 80, 15, 1);

    @media (max-width: $tablet){
      margin: 0 -15px;
    }
  }

  // .main-slider__slider

  &__slider {
    align-self: flex-end;
    flex: 1 1 auto;
    min-width: 0;
    @media (min-width: $tablet){
      padding: 0 0 0 32px;
    }
  }
}

.content-main {
  position: relative;
  z-index: 5;
  background: rgba(255, 255, 255, 0.9);
  padding-left: 15px;
  padding-right: 15px;
  @include adaptiv-value('padding-top', 60, 15, 1);
  @include adaptiv-value('padding-bottom', 60, 15, 1);

  @media (min-width: $tablet){
   @include adaptiv-value('padding', 50, 1, 1);
   background: rgba(255, 255, 255, 0.9);

   @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
    background: rgba(255, 255, 255, 0.72);
    backdrop-filter: blur(31px);
   }
  }
  // .content-main__title

  &__title {
    font-weight: 700;
    @include adaptiv-value('font-size', 56, 24, 1);
    line-height: 120%;
    &:not(:last-child) {
      margin: 0 0 em(10) 0;
    }
  }

  // .content-main__text

  &__text {
    font-weight: 500;
    @include adaptiv-value('font-size', 20, 16, 1);
    line-height: 150%;
    color: $greyColor;
    &:not(:last-child) {
      margin: 0 0 em(48) 0;
    }
  }

  // .content-main__btn

  &__btn {
    font-weight: 600;
    @include adaptiv-value('font-size', 20, 16, 1);
    line-height: 150%;
    color: #FFFFFF;
    min-width: 100%;
    background-color: $orangeColor;
    @include adaptiv-value('min-height', 78, 45, 1);

    @media (any-hover: hover) {
      &:hover {
        background-color: #cc7a47;
      }
    }
  }
}
.slider-main {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  @media (max-width: $tablet){
    align-items: stretch;
    flex-direction: column-reverse;
  }

  // .slider-main__controls

  &__controls {
    align-self: stretch;
  }

  // .slider-main__body

  &__body {
    overflow: visible;

    @media (min-width: $tablet){
      @include adaptiv-value('width', 934, 290, 1);
    }
  }

  // .slider-main__slide

  &__slide {
    position: relative;
  }

  // .slider-main__image

  &__image {
    padding: 0 0 60% 0;

    @media (max-width: $tablet){
      margin: 0 -15px;
      padding: 0 0 56% 0;
    }
  }

  // .slider-main__content

  &__content {
    min-width: 295px;
    max-height: 300px;
    overflow: auto;
    color: inherit;
    display: flex;
    flex-direction: column;
    @include adaptiv-value('padding', 24, 16, 1);
     background: rgba(255, 255, 255, 0.9);

    @media (min-width: $mobile){
      position: absolute;
      min-width: 350px;
      @include adaptiv-value('bottom', 40, 0, 1);
      @include adaptiv-value('right', 40, 0, 1);
    }

    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(31px);
     }

    @media (max-width: $mobile){
      margin: 0 -15px;  
    }
  }

  // .slider-main__title

  &__title {
    font-weight: 600;
    @include adaptiv-value('font-size', 28, 22, 1);
    line-height: 120%;

    &:not(:last-child) {
      margin: 0 0 em(3) 0;
    }
  }

  // .slider-main__text

  &__text {
    font-weight: 500;
    line-height: 150%;
    color: $greyColor;
    &:not(:last-child) {
      margin: 0 0 em(8) 0;
    }
  }

  // .slider-main__price

  &__price {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    @include adaptiv-value('font-size', 20, 16, 1);
    line-height: 150%;
    &:not(:last-child) {
      margin: 0 0 em(10) 0;
    }

    &::before {
      flex: 0 0 24px;
      font-size: 14px;
      font-weight: 600;
      margin: 0 0 0 10px;
    }
  }
}
.controls-slider-main {
  display: flex;
  align-items: center;
  margin: 0 0 20px 0;

  @media (max-width: $tablet){
    margin: 15px 0 ;
  }

  // .controls-slider-main__dots

  &__dots {
    flex: 1 1 auto;
    @media (min-width: $tablet){
      padding: 0 20px 0 0;
    }
    
    @media (max-width: $tablet){
      justify-content: center;
    }
  }

  // .controls-slider-main__arrows

  &__arrows {
    @media (max-width: $tablet){
      display: none;
    }
  }
}

//===============================================================================

.advantages {
  @include adaptiv-value('padding-top', 88, 30, 1);
  @include adaptiv-value('padding-bottom', 88, 30, 1);
  // .advantages__container

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  // .advantages__item

  &__item {
    display: inline-grid;
    padding: 15px 0;
    grid-template: auto auto / 85px 1fr;

    @media (max-width: $tablet){
      min-width: 280px;
    }

    @media (max-width: $mobile){
      grid-template: auto auto / auto 1fr;
    }
  }

  // .advantages__icon

  &__icon {
    text-align: center;
    align-self: center;
    grid-row: span 2;

    @media (max-width: $mobile){
      padding: 0 15px 0 0;
    }
  }

  // .advantages__title

  &__title {
    font-weight: 600;
    font-size: rem(18);
    line-height: 150%;
    margin: 0 0 em(2) 0;
  }

  // .advantages__text

  &__text {
    font-weight: 500;
    line-height: 150%;
    color: $greyColor;
  }
}

//=====================================================================================

.products {
  @include adaptiv-value('padding-bottom', 44, 30, 1);
  // .products__container

  &__container {
  }

  // .products__title

  &__title {
    margin: 0 0 em(32) 0;
  }

  // .products__items

  &__items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(285px, 1fr));
    gap: 32px;
  }

  // .products__item

  &__item {
  }

  // .products__footer

  &__footer {
    padding: 32px 0 0 0;
    text-align: center;
  }

  // .products__more

  &__more {
    border: 1px solid $orangeColor;
    min-width: 245px;

    &._hold {
      opacity: 0.4;
      cursor: default;
    }
  }
}


.item-product {
  background: #F4F5F7;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (any-hover: hover) {
    &:hover {
      .item-product__actions {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // .item-product__labels

  &__labels {
    position: absolute;
    z-index: 2;
    display: flex;
    flex-direction: column;
    @include adaptiv-value('top', 24, 10, 1);
    @include adaptiv-value('right', 24, 10, 1);
  }

  // .item-product__label

  &__label {
    font-weight: 500;
    line-height: 150%;
    color: #fff;
    border-radius: 50%;
    padding: 12px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:not(:last-child) {
      margin: 0 0 10px 0;
    }
    // .item-product__label--sale
    
    &--sale {
      background: #E97171;
    }
    &--new {
      background: #2EC1AC;
    }
  }

  // .item-product__img

  &__img {
    padding: 0 0 percent(301, 285) 0;
  }

  // .item-product__body

  &__body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    padding: 16px 16px 30px 16px;
  }

  // .item-product__content

  &__content {
    flex: 1 1 auto;
  }

  // .item-product__title

  &__title {
    font-weight: 600;
    @include adaptiv-value('font-size', 24, 20, 1);
    line-height: 120%;
    &:not(:last-child) {
      margin: 0 0 em(8) 0;
    }
  }

  // .item-product__text

  &__text {
    font-weight: 500;
    line-height: 150%;
    color: $greyColor;
    &:not(:last-child) {
      margin: 0 0 em(8) 0;
    }
  }

  // .item-product__prices

  &__prices {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  // .item-product__price

  &__price {
    font-weight: 600;
    @include adaptiv-value('font-size', 20, 16, 1);
    line-height: 150%;

  // .item-product__price--old

    &--old {
      @include adaptiv-value('font-size', 16, 14, 1);
      color: #B0B0B0;
      font-weight: normal;
      margin: 0 0 0 16px;
      text-decoration: line-through;
    }
  }

  // .item-product__actions

  &__actions {
    @media (any-hover: none) {
      padding: 15px 0 0 0;
    }

    @media (any-hover: hover) {
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s ease 0s;
      position: absolute;
      z-index: 3;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgba(58, 58, 58, 0.72);
    }
  }
}

.actions-product {

  // .actions-product__body

  &__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  // .actions-product__btn

  &__btn {
    flex: 1 1 100%;
    &:not(:last-child) {
      margin: 0 0 24px 0;
    }

    &._hold {
      opacity: 0.4;
      cursor: default;
    }
  }

  // .actions-product__link

  &__link {
    display: flex;
    align-items: center;
    color: inherit;
    font-weight: 600;
    transition: color 0.3s ease 0s;
    &::before {
      font-size: rem(16);
      margin: 0 8px 0 0;
    }
    @media (any-hover: hover) {
      color: #fff;
      &:hover {
        color: $orangeColor;
      }
    }
  }
}

//===========================================================================================

.rooms {
  background: #FCF8F3;
  @include adaptiv-value('padding-top', 44, 30, 1);
  @include adaptiv-value('padding-bottom', 44, 30, 1);

  // .rooms__container

  &__container {
    @media (min-width: $tablet){
      display: flex;
    }
  }

  // .rooms__body

  &__body {
    flex: 0 0 percent(465, 1270);
    position: relative;
    z-index: 5;
    align-self: center;
    @media (max-width: $tablet){
      @include adaptiv-value('padding-right', 80, 30, 1);
    }

    @media (max-width: $tablet){
      margin: 0 0 30px 0;
    }
  }

  // .rooms__title

  &__title {
    @media (min-width: $tablet){
      text-align: start;
    }
    margin: 0 0 em(8) 0;
  }

  // .rooms__text

  &__text {
    font-weight: 500;
    line-height: 150%;
    color: $darkGrayColor;
    margin: 0 0 em(24) 0;
  }

  // .rooms__btn

  &__btn {
    min-width: 176px;
    background-color: $orangeColor;
    color: #fff;

    @media (any-hover: hover){
      &:hover {
        background-color: #cc7a47;
      }
    }

    &:not(::last-child) {
      margin: 0 0 em(10) 0;
    }
  }

  // .rooms__slider

  &__slider {
   flex: 1 1 auto;
   min-width: 0;
   align-self: flex-end;

    @media (max-width: $mobileSmall){
      margin: 0 -15px;
    }
  }
}

.slider-rooms {
  overflow: visible;
  position: relative;
  // .slider-rooms__body

  &__body {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      width: 100vw;
      height: 100%;
      background: #FCF8F3;
      transform: translateX(-100%);
    }
  }

  // .slider-rooms__slide

  &__slide {
    position: relative;
    width: 372px;
    @include adaptiv-value('min-height', 582, 400, 1);
    overflow: hidden;

    &.swiper-slide-active {
      .slider-rooms__img {
        height: 100%;
      }
    }

    @media (max-width: $mobileSmall){
      width: 100%;
    }
  }

  // .slider-rooms__img

  &__img {
    height: 100%;
    transition: height 0.8s ease 0s;

    @media (min-width: $mobile){
      height: 83%;
    }
  }

  // .slider-rooms__content

  &__content {
    position: absolute;
    color: inherit;
    max-width: 240px;
    @include adaptiv-value('bottom', 24, 16, 1);
    @include adaptiv-value('left', 24, 16, 1);
    @include adaptiv-value('padding', 32, 16, 1);
    background: (255, 255, 255, 0.9);

    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
      background: rgba(255, 255, 255, 0.72);
      backdrop-filter: blur(32px);
   }

   &::before {
    position: absolute;
    bottom: 0;
    left: 100%;
    background-color: $orangeColor;
    width: 48px;
    height: 48px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
   }
  }

  // .slider-rooms__label

  &__label {
  }

  // .slider-rooms__title

  &__title {
    font-weight: 600;
    @include adaptiv-value('font-size', 28, 24, 1);
    line-height: 120%;
    &:not(:last-child) {
      margin: 0 0 em(10) 0;
    }
  }

  // .slider-rooms__arrows

  &__arrows {
    pointer-events: none;
    position: absolute;
    z-index: 5;
    width: calc(100% - 48px);
    top: 50%;
    transform: translateY(-50%);
    left: 24px;
    justify-content: space-between;

    @media (min-width: $pc){
      width: calc(100% + 48px);
      left: -24px;
    }
  } 

  // .slider-rooms__dots

  &__dots {
    @media (min-width: $mobile){
      position: absolute;
      width: 100%;
      left: 396px;
      bottom: 30px;
    }

    @media (max-width: $mobile){
      justify-content: center;
      padding: 15px 0 0 0;
    }
  }
}
.label-slider {
  display: grid;
  gap: 8px;
  grid-template-columns: auto 27px auto;
  align-items: center;
  font-weight: 500;
  color: $darkGrayColor;
  &:not(:last-child) {
    margin: 0 0 8px 0;
  }
  // .label-slider__number

  &__number {
  }

  // .label-slider__line

  &__line {
    height: 1px;
    background-color: $darkGrayColor;
  }

  // .label-slider__text

  &__text {
  }
}

//==============================================================================================

.tips {
  @include adaptiv-value('padding-top', 44, 30, 1);
  @include adaptiv-value('padding-bottom', 44, 30, 1);
  // .tips__container

  &__container {
  }

  // .tips__title

  &__title {
  }

  // .tips__slider

  &__slider {
  }
}

.slider-tips {
  position: relative;
  // .slider-tips__body

  &__body {
    overflow: hidden;
    @include adaptiv-value('padding', 32, 16, 1);
    @include adaptiv-value('margin-left', -32, -15, 1);
    @include adaptiv-value('margin-right', -32, -15, 1);
  }

  // .slider-tips__slide

  &__slide {
    display: flex;
    flex-direction: column;
    transition: box-shadow 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 32px rgba(97, 97, 97, 0.2);;
      }
    }
  }

  // .slider-tips__img

  &__img {
    padding: 0 0 percent(251, 391) 0;
  }

  // .slider-tips__content

  &__content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 auto;
  }

  // .slider-tips__title

  &__title {
    flex: 1 1 auto;
    color: inherit;
    font-weight: 600;
    @include adaptiv-value('font-size', 24, 18, 1);
    line-height: 120%;
    transition: color 0.3s ease 0s;

    &:not(:last-child) {
      margin: 0 0 em(8) 0;
    }

    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }

  // .slider-tips__text

  &__text {
    font-size: rem(14);
    line-height: 150%;
    color: $greyColor;
    &:not(:last-child) {
      margin: 0 0 em(10) 0;
    }
  }

  // .slider-tips__arrows

  &__arrows {
    pointer-events: none;
    position: absolute;
    width: calc(100% - 48px);
    left: 24px;
    top: 50%;
    transform: translateY(-50%);
    justify-content: space-between;

    @media (min-width: $pc){
      width: calc(100% + 48px);
      left: -24px;
    }

    @media (max-width: $mobileSmall){
      display: none;
    }
  }

  // .slider-tips__dots

  &__dots {
    @include adaptiv-value('padding-top', 8, 0, 1);
    justify-content: center;
  }
}

//=============================================================================================

.furniture {
  @include adaptiv-value('padding-bottom', 87, 40, 1);

  // .furniture__container

  &__container {
  }

  // .furniture__label

  &__label {
    text-align: center;
    font-weight: 600;
    @include adaptiv-value('font-size', 20, 16, 1);
    line-height: 150%;
    margin: 0 0 em(8) 0;
    color: $darkGrayColor;
  }

  // .furniture__title

  &__title {
    margin: 0 0 em(32) 0;
  }

  // .furniture__body

  &__body {
    @media (any-hover: none) {
      overflow: auto;
      -wibkit-overflow-scrolling: touch;
    }
  }

  // .furniture__items

  &__items {
    display: grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    align-items: center;
    gap: 16px;
    
    @media (any-hover: hover) {
      justify-content: center;
    }
  }

  // .furniture__column

  &__column {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &:first-child {
      justify-content: flex-end;
    }
  }

  // .furniture__row

  &__row {
    display: inline-grid;
    grid-template-columns: auto;
    grid-auto-flow: column;
    gap: 16px;

    &:not(:last-child) {
      margin: 0 0 16px 0;
    }
  }
}

.row-furniture {

  // .row-furniture__item

  &__item {
    @media (any-hover: hover) {
      & img {
        transition: filter 0.7s ease 0s;
        filter: grayscale(1);
      }
      &:hover {
        & img {
          filter: grayscale(0);
        }
      }
    }
  }

  &--left-top {
    justify-content: flex-end;
    align-items: flex-end;
  }

  &--left-bottom {
    justify-content: flex-end;
    align-items: flex-start;
  }

  &--center {
    display: block;
  }

  &--right-top {
    align-items: flex-end;
  }

  &--right-bottom {
    align-items: flex-start;
  }
}



