//====================================================================================================

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 40px;
	@media (max-width: $mobile){
		min-height: 5px;
	}

	&._scroll {
		.header__wrapper {
			background-color: rgba(255, 255, 255, 0.8);

			@media (any-hover: hover) {
				&:hover {
					background-color: rgba(255, 255, 255, 0.9);
				}
			}
		}

		.header__body {
			min-height: 50px;

			@media (min-width: $tablet){
				min-height: 70px;
			}
		}
	}

	// .header__wrapper

	&__wrapper {
		transition: background-color 0.3s ease 0s;
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 50;
	}

	// .header__container

	&__container {
	}

	// .header__body

	&__body {
		transition: min-height 0.3s ease 0s;
		display: flex;
		align-items: center;
		min-height: 125px;
		position: relative;

		@media (max-width: $tablet){
			min-height: 80px;
		}

		@media (max-width: $mobile){
			min-height: 50px;
		}
	}

	// .header__main

	&__main {
		display: flex;
		align-items: center;
		padding: 5px 0;
		flex: 0 0 percent(494, $maxWidthContainer);

		@media (max-width: $tablet){
			flex: 1 1 auto;
		}
	}

	// .header__logo

	&__logo {
		position: relative;
		z-index: 5;
		font-weight: 700;
		font-size: rem(24);
		line-height: percent(29, 24);
		color: #000000;
	}

	// .header__menu

	&__menu {
	}

	// .header__search

	&__search {
		@include adaptiv-value("padding-right", 32, 15, 1);
		@media (min-width: $tablet){
			flex: 1 1 auto;
		}
	}

	// .header__actions

	&__actions {
	}
	
}


.menu {
	flex: 0 1 420px;

	// .menu__body

	&__body {
		@media (max-width: $mobile){
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: auto;
			background-color: #f0e8e0;
			padding: 80px 15px 20px 15px;
			transition: all 0.3s ease 0s;
			transform: translateX(-100%);

			&::before {
				content: "";
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				height: 50px;
				background-color: #f0e8e0;
				transform: translateX(-100%);
			}
			
			.menu-open & {
				transform: translateX(0);
				&::before {
					transform: translateX(0);
				}
			}
		}
	}

	// .menu__list

	&__list {
		@media (min-width: $mobile){
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			flex-wrap: wrap;
		}
	}

	// .menu__item

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		padding: 5px 0;
		margin: 0 3px;
		position: relative;

		@media (any-hover: hover){
			&:hover {
				.menu__sublist {
					transform: translateY(0);
					opacity: 1;
					visibility: visible;
					pointer-events: auto;
				}
				.menu__arrow {
					transform: rotate(-180deg);
				}
				.menu__arrow,
				.menu__link {
					color: $orangeColor;
				}
			}	
		}
		&._hover {
			.menu__sublist {
				transform: translateY(0);
				opacity: 1;
				visibility: visible;
				pointer-events: auto;
			}
			.menu__arrow {
				transform: rotate(-180deg);
			}
			.menu__arrow,
			.menu__link {
				color: $orangeColor;
			}
		}	
	}

	// .menu__link

	&__link {
		font-weight: 500;
		color: inherit;
		transition: color 0.3s ease 0s;

		@media (max-width: $mobile){
			font-weight: 600;
			font-size: rem(25);
		}
	}

	// .menu__arrow

	&__arrow {
		font-size: rem(9);
		transition: all 0.3s ease 0s;
		margin: 0 0 0 8px;

		@media (max-width: $mobile){
			font-size: rem(15);
		
			&._spoller-active {
				transform: rotate(180deg);
			}
		}
	}

	// .menu__sublist

	&__sublist {
		position: relative;
		z-index: 5;
		padding: 15px;
		flex: 0 1 100%;
		background-color: $orangeColor;

		@media (min-width: $mobile){
			opacity: 0;
			visibility: hidden;
			position: absolute;
			top: 100%;
			left: 0;
			min-width: 200px;
			transform: translateY(10px);
			pointer-events: none;
			transition: all 0.3s ease 0s;			
		}

		@media (max-width: $mobile){
			margin: 15px 0 0 0;
		}
	}

	// .menu__sublist-item

	&__sublist-item {
		&:not(:last-child) {
			margin: 0 0 10px 0;
		}
	}

	// .menu__sublist-link

	&__sublist-link {
		color: #fff;

		@media (any-hover: hover){
			&:hover {
				text-decoration: underline;
			}
		}

		@media (max-width: $mobile){
			font-size: rem(19);
		}
	}
}
.search-form {
	max-width: 473px;

	&._active {
		.search-form__item {
			opacity: 1;
			visibility: visible;
			top: 100%;
		}
		.search-form__icon {
			color: $orangeColor
		}
	}
	// .search-form__icon

	&__icon {
		position: relative;
		z-index: 5;
		color: #262F56;
		font-size: rem(22);

		@media (min-width: $tablet){
			display: none;
		}
	}

	// .search-form__item

	&__item {
		display: flex;
		align-items: center;
		background: #FFFFFF;

		@media (max-width: $tablet){
			position: absolute;
			z-index: 5;
			top: -100%;
			left: 0;
			width: 100%;
			opacity: 0;
			visibility: hidden;
			transition: all 0.3s ease 0s;
		}
	}

	// .search-form__btn

	&__btn {
		flex: 0 0 45px;
		color: #333333;
		height: 45px;
		font-size: 15px;
	}

	// .search-form__input

	&__input {
		color: $darkGrayColor;
		font-weight: 400;
		font-size: rem(14);
		width: 100%;
		padding: 0 20px 0 0;

		@media (max-width: $tablet){
			flex: 1 1 auto;
		}
	}
}
.actions-header {
	display: grid;
	grid-template-columns: auto;
	grid-auto-flow: column;
	align-items: center;
	position: relative;
	z-index: 5;
	@include adaptiv-value("gap", 32, 15, 1);

	// .actions-header__item

	&__item {
	}

	// .actions-header__item--favourites

	&__item--favourites {
		color: #262F56;
		font-size: rem(24);
		transition: color 0.3s ease 0s;

		@media (any-hover: hover){
			&:hover {
				color: $orangeColor;
			}
		}
	}

	// .actions-header__item--avatar

	&__item--avatar {
		@include adaptiv-value("width", 40, 30, 1);
		@include adaptiv-value("height", 40, 30, 1);
		overflow: hidden;
		border-radius: 50%;
	}
}
.cart-header {

	// .cart-header__icon

	&__icon {
		color: #262F56;
		font-size: rem(24);
		transition: color 0.3s ease 0s;
		position: relative;
		display: block;

		@media (any-hover: hover){
			&:hover {
				color: $orangeColor;
			}
		}

		& span {
			position: absolute;
			top: -10px;
			right: -10px;
			border-radius: 50%;
			background-color: $orangeColor;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: rem(12);
			width: 20px;
			height: 20px;
		}
	}

	// .cart-header__body

	&__body {
		position: absolute;
		top: 55px;
		right: 0;
		width: 300px;
		background-color: #f4f5f6;
		border: 1px solid #dbdbdb;
		padding: 15px;
		z-index: 5;
		opacity: 0;
		visibility: visible;
		transform: translate(0, 20px);
		transition: all 0.3s ease 0s;

		._active & {
			opacity: 1;
			visibility: visible;
			transform: translate(0px, 0px);
		}

		@media (max-width: $tablet){
			top: 45px;
		}

		@media (max-width: $mobile){
			position: fixed;
			width: 100%;
			top: 45px;
			left: 0;
		}
	}

	// .cart-header__list

	&__list {
	}
}

.cart-list {
	overflow: auto;
	max-height: 200px;

	//	.cart-list__item
	
	&__item {
		display: flex;
		align-items: flex-start;
		&:not(:last-child) {
			margin: 0 0 15px 0;
		}
	}

	// .cart-list__img

	&__img {
		flex: 0 0 100px;
		height: 100px;
	}

	// .cart-list__body

	&__body {
		flex: 1 1 auto;
		padding: 0 0 0 10px;
		display: flex;
		flex-direction: column;
	}

	// .cart-list__title

	&__title {
		color: inherit;
		font-weight: 600;
		line-height: 130%;
		@include adaptiv-value('font-size', 18, 16, 1);
		transition: color 0.3s ease 0s;
		&:not(:last-child) {
			margin: 0 0 em(5) 0;
		}

		@media (any-hover: hover) {
			&:hover {
				color: $orangeColor;
			}
		}
	}

	// .cart-list__quantity

	&__quantity {
		font-size: rem(14);
		&:not(:last-child) {
			margin: 0 0 em(10) 0;
		}

	}

	// .cart-list__delete

	&__delete {
		color: red;
		font-size: rem(14);

		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

//====================================================================================================

//Burger

.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		@include adaptiv-value("margin-left", 32, 15, 1);
		display: block;
		position: relative;
		flex: 0 0 rem(30);
		height: rem(18);
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			right: 0;
			position: absolute;
			width: 100%;
			height: rem(2);
			background-color: #000;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				width: 0;
			}
			&::before {
				top: calc(50% - rem(1));
				transform: rotate(-45deg);
			}
			&::after {
				bottom: calc(50% - rem(1));
				transform: rotate(45deg);
			}
		}
	}
}

