.footer {

  // .footer__container

  &__container {
  }

  // .footer__body

  &__body {
    border-top: 1px solid #D8D8D8;
    @include adaptiv-value("padding-top", 80, 30, 1);
    @include adaptiv-value("padding-bottom", 50, 30, 1);
    @include adaptiv-value("column-gap", 80, 0, 1);
    display: grid;
    grid-template-columns: 249px 1fr 292px;

    @media (max-width: $pc){
      grid-template-rows: auto auto;
      grid-template-columns: 1fr 292px;
    }

    @media (max-width: $tablet){
      display: block;
    }
  }

  // .footer__main

  &__main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: $pc){
      grid-column: span 2;
      @include adaptiv-value("margin-bottom", 40, 30, 1);
    }
  }

  // .footer__logo

  &__logo {
    margin: 0 0 em(16) 0;
  }

  // .footer__text

  &__text {
    color: $darkGrayColor;
    margin: 0 0 1em 0;
    line-height: 150%;
  }

  // .footer__contacts

  &__contacts {
  }

  // .footer__menu

  &__menu {
    @media (max-width: $tablet){
      @include adaptiv-value("margin-bottom", 40, 30, 1);
    
    }
  }

  // .footer__subscribe

  &__subscribe {
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  // .contacts-footer__item

  &__item {
    display: inline-flex;
    align-items: center;
    color: $darkGrayColor;
    line-height: 150%;
    transition: color 0.3s ease 0s;

    &::before {
      margin: 0 8px 0 0;
    }

    &:not(:last-child) {
      @include adaptiv-value("margin-bottom", 16, 10, 1);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }
}
.menu-footer {
  @media (min-width: $mobile){
    display: flex;
  }

  // .menu-footer__column

  &__column {
    @media (min-width: $mobile){
      flex: 0 1 33.333%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: $mobile){
      @include adaptiv-value("margin-bottom", 30, 15, 1);
    }
  }

  // .menu-footer__title

  &__title {
    cursor: default;
    @media (min-width: $mobile){
      margin: 0 0 em(16) 0;
    }
  
    ._spoller-init &{
      display: flex;
      flex-direction: row-reverse;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      @extend ._icon-arrow-down;

      &::before {
        @extend %ic;
        font-size: 12px;
        transition: transform 0.3s ease 0s;
      }
    }

    &._spoller-active {
      &::before {
        transform: rotate(180deg);
      }
    }
  }

  &__item {
    &:not(:last-child) {
      margin: 0 0 15px 0;
    }
     
  }

  // .menu-footer__list

  &__list {
    @media (min-width: $mobile){
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    @media (max-width: $mobile){
      padding: 15px 0 0 0;
    }
  }

  // .menu-footer__link

  &__link {
    font-weight: 500;
    color: $darkGrayColor;
    transition: color 0.3s ease 0s;
  
    @media (any-hover: hover) {
      &:hover {
        color: $orangeColor;
      }
    }
  }
}
.subscribe-footer {

  // .subscribe-footer__title

  &__title {
    margin: 0 0 em(16) 0;
  }

  // .subscribe-footer__form

  &__form {
  }

  .form-error {
    position: absolute;
    top: 100%;
    left: 12px;
    font-size: 14px;
    margin: 5px 0 0 0;
    color: red;
    display: none;
  }

  &__form-item {
    display: flex;
    position: relative;
  }

  &__form-item._error {
    .form-error {
      display: block;
    }
  }
  

  // .subscribe-footer__input

  &__input {
    background: #F4F5F7;
    line-height: 150%;
    color: $greyColor;
    padding: 0 12px;
    width: 100%;
    position: relative;
  }

  // .subscribe-footer__btn

  &__btn {
    flex: 0 0 45px;
    height: 45px;
    color: #fff;
    background-color: $orangeColor;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    margin: 0 0 0 4px;
    transition: background-color 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #cc7a47;
      }
    }
  }
}
