._title-footer {
  font-weight: 700;
  font-size: rem(24);
  line-height: percent(29, 24);
  color: #000000;
}

._title {
  font-weight: 700;
  @include adaptiv-value('font-size', 40, 24, 1);
  line-height: 120%;
  text-align: center;
}

.slider-arrows {
  display: grid;
  grid-template-columns: repeat(2, 48px);
  column-gap: 8px;
}
.slider-arrow {
  pointer-events: auto;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
  background: rgba(232, 159, 113, 0.3);
  height: 48px;
  font-size: 12px;
  color: $orangeColor;

  &--prev {
    transform: rotate(90deg);
  }

  &--next {
    transform: rotate(-90deg);
  }

  @media (any-hover: hover) {
    &:hover {
      background-color: $orangeColor;
      color: #fff;
    }
  }

  &--white {
    color: $orangeColor;
    background-color: #fff;
    box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);

    @media (any-hover: hover) {
      &:hover {
        background-color: $orangeColor;
        color: #fff;
      }
    }
  }
}

.swiper-pagination-bullets {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.swiper-pagination-bullet {
  flex: 0 0 27px;
  height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px 0;
  position: relative;
  cursor: pointer;
  &:not(:last-child) {
    margin: 0 12px 0 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid $orangeColor;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
  }

  &::after {
    content: '';
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background-color: #D8D8D8;
    transition: background-color 0.3s ease 0s;
  }
}

.swiper-pagination-bullet-active {
  &::before {
    content: '';
    transform: scale(1);
  }
  &::after {
    content: '';
    background-color: $orangeColor;
  }
}

.btn {
  display: inline-flex;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 48px;
  transition: all 0.3s ease 0s;

  &--white {
    color: $orangeColor;
    background-color: #fff;

    @media (any-hover: hover) {
      &:hover {
        color: #fff;
        background-color: $orangeColor
      }
    }
  }
}

._flyImage._ibg {
  opacity: 1;
  position: fixed;
  z-index: 100;
  transition: all 1s ease 0s;
}
